services:
  app:
    build:
      context: .
      dockerfile: ./services/app/Dockerfile
      platforms:
        - 'linux/amd64'
    # command: dev
    # command: uwsgi
    volumes:
      - ./app:/usr/src/app
    env_file: .env

  web:
    build:
      context: ./
      dockerfile: ./services/nginx/Dockerfile
    ports:
      - '8081:80'
    depends_on:
      - app
