services:
  app:
    build:
      context: .
      dockerfile: ./services/app/Dockerfile
      platforms:
        - 'linux/amd64'
    container_name: app
    # command: dev
    # command: uwsgi
    volumes:
      - ./app:/usr/src/app
    env_file: .env
    restart: unless-stopped

  web:
    build:
      context: ./
      dockerfile: ./services/nginx/Dockerfile
    container_name: web
    ports:
      - '8080:80'
    depends_on:
      - app
