version: "3"

services:
  # PostgreSQL
  # postgres:
  #   image: postgres:11.4
  #   hostname: postgres
  #   ports:
  #     - 5432:5432 # Bind host port 5432 to PostgreSQL port 5432
  #   volumes:
  #     - ./pgdata:/var/lib/postgresql/data
  #   environment:
  #     - LC_ALL=C.UTF-8
  #     - POSTGRES_USER=docker
  #     - POSTGRES_PASSWORD=docker

  # Django app
  app:
    build:
      context: .
      dockerfile: ./services/app/Dockerfile
    command: dev
    #command: uwsgi
    hostname: "app-django-ess.local.ro2.dev"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-django-ess.rule=Host(`app-django-ess.local.ro2.dev`)"
      - "traefik.http.routers.app-django-ess.entrypoints=http"
      - "traefik.http.services.app-django-ess.loadbalancer.server.port=8000"
    networks:
      - "default"
      - "ess"
      - "ro2dev"
    volumes:
      - ./app:/usr/src/app
    # depends_on:
    #   - postgres
    # links:
    #   - postgres:postgres
    env_file: .env

  web:
    build:
      context: ./
      dockerfile: ./services/nginx/Dockerfile
    hostname: "web-django-ess.local.ro2.dev"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.web-django-ess.rule=Host(`web-django-ess.local.ro2.dev`)"
      - "traefik.http.routers.web-django-ess.entrypoints=https"
      - "traefik.http.routers.web-django-ess.tls=true"
      - "traefik.http.services.web-django-ess.loadbalancer.server.port=80"
    networks:
      - "default"
      - "ess"
      - "ro2dev"
    depends_on:
      - app

networks:
  default:
  ess:
    external: true
  ro2dev:
    external: true
