name: Deploy to UAT
on:
  workflow_dispatch:
  push:
    branches: [staging]
  repository_dispatch: # Triggered by a `push` event on a submodule
    types: [uat-openfisca-ruleset-updated] # repository_dispatch must have 'type' == "submodule-updated"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.UAT_VM_HOST }}
          username: ${{ secrets.UAT_VM_USER }}
          key: ${{ secrets.UAT_VM_PRIVATE_KEY }}
          port: 22
          script_stop: true
          script: |
            cd openfisca-djangoapi
            git fetch --all
            git reset --hard origin/staging
            docker compose up --build -d
            docker compose exec app bash entrypoint.sh setup_db
            docker compose exec app bash entrypoint.sh fetch_data
            docker compose exec app bash entrypoint.sh manage collectstatic --noinput
            exit
